.App {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
}

.Navigator {
    flex: 0 0 auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background-color: #EFEFF4;
    border-right: 1px solid #8E8E93;
    transition: width 0.2s;
}

.Navigator-collapsed {
    width: 56px;
}

.Navigator-expanded {
    width: 172px;
}

.Navigator-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.Navigator-menu {
    align-self: flex-end;
}

.Navigator img {
    flex: 0 0 auto;

    height: 40px;
    width: 40px;
    margin: 8px;
}

.Navigator-item > a {
    width: 108px;
    margin-right: 8px;

    font-size: 12px;
    color: black;
    text-decoration:none;
}

.Navigator-collapsed a {
    visibility: hidden;
}

.ColorPane {
    flex: auto;
}

.Apple-ColorPane {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;
}

.Apple-ColorBlock {
    width: 25%;
    height: 50%;
    /* ColorBlock-name position */
    display: flex;
    justify-content: center;
    align-items: center;
    /* ColorBlock-value position */
    position: relative;
}

.Apple-ColorBlock > .ColorBlock-name {
    margin: 0;
    padding: 0;

    font-size: 32px;
    text-align: center;
    color: white;
}

.Apple-ColorBlock > .ColorBlock-value {
    position: absolute;
    right: 12px;
    bottom: 8px;

    margin: 0;
    padding: 0;

    font-size: 20px;
    color: white;
}

.MD-ColorPane {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;

    width: 100%;
    height: 100%;
}

.MD-ColorSetBlock {
    flex: auto;

    display: flex;
    flex-direction: column;
}

.MD-ColorBlock {
    width: 100%;
    height: 7.142857%;   /* 100/14 */
    /* ColorBlock-name position */
    display: flex;
    justify-content: center;
    align-items: center;
    /* ColorBlock-value position */
    position: relative;
}

.MD-ColorBlock > .ColorBlock-name {
    margin: 0;
    padding: 0;

    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.MD-ColorBlock > .ColorBlock-value {
    position: absolute;
    right: 4px;
    bottom: 2px;

    margin: 0;
    padding: 0;

    font-size: 10px;
}

.Pantone-ColorPane {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;
}

.Pantone-ColorBlock {
    width: 20%;
    height: 25%;
    /* ColorBlock-name position */
    display: flex;
    justify-content: center;
    align-items: center;
    /* ColorBlock-value position */
    position: relative;
}

.Pantone-ColorBlock > .ColorBlock-name {
    margin: 0;
    padding: 0;

    font-size: 24px;
    text-align: center;
    color: white;
}

.Pantone-ColorBlock > .ColorBlock-value {
    position: absolute;
    right: 9px;
    bottom: 6px;

    margin: 0;
    padding: 0;

    font-size: 16px;
    color: white;
}
